* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  color: rgb(74, 124, 74);
  padding: 80px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(243, 246, 243);
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
  }
  form,
  .userPage {
    width: 450px;
    padding: 40px;
    text-align: center;
    margin: auto;
    border: 0.5px solid rgb(210, 207, 207);
    box-shadow: 0 0 40px 0 rgb(0, 0, 0, 0.1), 0 0 40px 0 rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    input {
      box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.1), 0 0 5px 0 rgb(0, 0, 0, 0.1);
      border: 0.5px solid rgb(210, 207, 207);
      border-radius: 5px;
      width: 250px;
      padding: 10px;
      margin-bottom: 20px;
      &::placeholder {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        font-style: italic;
        color: rgb(74, 124, 74);
        opacity: 0.5;
      }
      &:focus {
        outline: none;
        transform: scale(1.1);
        transition: 0.7s;
      }
    }
    button {
      display: block;
      margin: auto;
      width: 100px;
    }
  }
  .userPage {
    span {
      display: inline-block;
      margin-bottom: 5px;
      color: black;
      opacity: 0.6;
      font-style: normal;
      font-size: 18px;
      font-weight: 600;
    }
    p {
      padding: 10px;
      margin-bottom: 20px;
      border: 0.5px solid rgb(210, 207, 207);
      border-radius: 5px;
      text-align: left;
    }
  }
  .buttons {
    max-width: 500px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    h2 {
      width: 400px;
    }
    button {
      width: 130px;
    }
  }
  .none {
    display: none;
  }
  button {
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    border: 0.5px solid rgb(210, 207, 207);
    background-color: white;
    color: rgb(74, 124, 74);
    padding: 10px;
    &:hover {
      background-color: rgb(200, 219, 200);
      color: white;
    }
  }
}
